
/* home page */

.table-wrapper {
  background-color: rgb(68, 123, 190);
  border-radius: 20px;
  color: white;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  text-align: left;
  width: 75%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.input-text {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  width: 12rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.4rem 0 0.4rem 0.4rem;
}

.add-btn {
  font-size: 1rem;
  border-radius: 100%;
  background-color: rgb(68, 123, 190);
  color: white;
  border: 2px solid white;
  margin-left: 1rem;
  padding: 0.25rem 0.6rem;
}

.add-btn:hover {
  background-color: rgb(223,31, 45);
}

.spacer {
  height: 0.5rem;
}

.link-col {
  width: 55%;
}

.link {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s; /* Safari prior 6.1 */
  transition: color 0.5s;
}

.link:hover {
  color: rgb(253, 203, 10);
}

.col {
  width: 15%;
  text-align: center;
}

.delete {
  color: white;
  -webkit-transition: color 0.5s; /* Safari prior 6.1 */
  transition: color 0.5s;
}

.delete:hover {
  color: rgba(177, 19, 19, 1);
}

/* edit switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.outer-slider {
  border-radius: 34px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.outer-active {
  /* change background color when edit slider is active */
  background-color: rgb(177, 19, 19);
}

.inner-slider {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.inner-active {
  /* move inner circle when edit slider is active */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* landing page */
.spdImg {
  height: 50vh;
}


@media only screen and (max-width: 600px) {
  .table-wrapper {
    width: 95%;
  }
}

@media only screen and (min-width: 1000px) {
  .table-wrapper {
    width: 60%;
  }
}

@media only screen and (min-width: 1300px) {
  .table-wrapper {
    width: 45%;
  }
}
