html {
  font-size: calc(1em + 0.5vw);
  margin: 0;
  text-align: center;
}

body {
  background-color: rgb(116, 179, 191);
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* table (home page) */
table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  padding: 0.3rem 1rem;
  margin: 0;
}

th {
  border-bottom: 3px solid white;
  padding-bottom: 0.5rem;
}

input {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 0.25rem 0 0.25rem 0.2rem;
  width: 100%;
}


/* landing page */
ul {
  display: inline-block;
  text-align: left;
}

li {
  font-size: 0.8rem;
  padding: 0.2rem 0;
}


/* media queries */
@media only screen and (max-width: 450px) {
  td {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
